/* Credit to w3schools for some of the CSS styling */

/* ------- */
/* General */
/* ------- */

body {
	direction: rtl;
	background-color: LightGray;
	margin-left:auto;
	margin-right:auto;
	width:80%;
}
	
h1 {
	color: blue;
	text-align: center;
	margin: auto;
 	font-family: verdana;
	font-size: 600%;
}

h3 {
	font-size: 150%
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;

	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

p {
	color: red;
	font-family: verdana;
	font-size: 160%;
}

a, a:focus, a:active {
      text-decoration: none;
      color: #007bff;
 }
 
a:hover {
	text-decoration: underline;
}

label {
	font-size: 15px;
	line-height: 19px;
	font-weight: 700;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

/* -------- */
/* Register */
/* -------- */

.invalid-feedback {
	font-size:14px;
	font-weight: 600;
	text-align:right;
}

/* ------- */
/* Buttons */
/* ------- */
.button {
  		background-color: #04AA6D; /* Green */
  		border: none;	  
  		color: white;
  		padding: 20px;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 16px;
  		margin: 4px 2px;
 	 	cursor: pointer;
}

.button5 {
	border-radius: 15%;
}

/* ------ */
/* Topnav */
/* ------ */

/* 
 * Add a black background color to the top navigation. 
 * Keep the text aligned to the right but also in right to left text direction. 
 */
.topnav {
	background-color: #333;
	overflow: auto;
	direction: rtl;
	
 	display: flex;
 	flex-wrap: wrap;
}

/* Style the links inside the navigation bar */
.topnav * {
	color: #f2f2f2;
	text-decoration: none;
	font-size: 17px;
	
	/* Align the text horizontally */
	align-items: center;
	flex-grow: 1;
	
	padding: 14px 16px;
	margin: 0;
	
	/* Align the text vertically */
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
	text-decoration: none;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #04AA6D;
	color: white;
}