<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Declaring  XML using-->
<head>
    <meta charset="UTF-8">
    <title>לוח בקרה</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    
    <style>
	.button {
  		background-color: #04AA6D; /* Green */
  		border: none;	  
  		color: white;
  		padding: 20px;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 16px;
  		margin: 4px 2px;
 	 	cursor: pointer;
	}
	.button5 {border-radius: 15%;}
	</style>
</head>
<body>
	<div class="container text-center" align="center">
		<h1>לוח בקרה</h1>
		<h6>ערוך ונהל את הפורום</h6>
	    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                <b>[[${#request.userPrincipal.principal.fullName}]]</b> ברוך הבא  
            </p>
            <input type="submit" value="Sign Out" />
            <a th:href="@{/index}" type="submit" >חזרה לדף הבית</a>
        </form>
    </div>
	
	
		<div>
			<h1>:פורומים</h1>
		</div>
		<div>
			<!--  <table class="table table-striped table-bordered">-->
			<table border="1" cellpadding="10">
				<thead class=thead-dark>
						<tr>
							<th>הזז</th>
							<th>פעולות</th>
							<th>מספר שרשורים</th>
							<th>תקציר</th>
							<th>שם פורום</th>
							<th>מספר</th>
						</tr>
				</thead>
				<tbody>
					<tr th:each = "forum : ${forums}">
						<td>
							<a>למעלה</a>
							&nbsp;&nbsp;
							<a>למטה</a>
						</td>
						<td>
							<a>ערוך</a>
							&nbsp;&nbsp;
							<a>מחק</a>
						</td>
						<td th:text = "${forum.numOfTopics}"></td>
						<td th:text = "${forum.shortDescription}"></td>
						<td th:text = "${forum.forum.name}"></td>
						<td th:text = "${forum.forum.priority}"></td>
						
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
		
</body>
</html>