<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he"> <!-- Declaring  XML using-->

	<head th:replace="fragments.html :: headerfiles('לוח בקרה')"></head>
	
	<body>
	
		<div th:replace="fragments.html :: topnav"></div>
		
		<div align="center">
		
			<h1>לוח בקרה</h1>
			<h3>ערוך ונהל את הפורום</h3>
			
            <p> ברוך הבא <b>[[${#request.userPrincipal.principal.fullName}]]</b> </p>
		
			<!-- Forums section  -->
			<hr>
			
			<h1>ערוך ונהל פורומים</h1>
			
			<table class = "table-striped" border="1" cellpadding="10" style="text-align:right">
				<thead>
						<tr>
							<th colspan="6">
								<a th:href="@{/a/newForum}">הוסף פורום חדש</a>
								<!--&nbsp;&nbsp;
								<a>ייצא פורומים</a>
								&nbsp;&nbsp;
								<a>ייבא פורומים</a>
								-->
							</th>
						</tr>
						<tr>
							<th>מספר</th>
							<th>שם פורום</th>
							<th>תקציר</th>
							<th>מספר שרשורים</th>
							<th>פעולות</th>
							<th>הזז</th>
						</tr>
				</thead>
				<tbody>
					<tr th:each = "forum : ${forums}">
						<td th:text = "${forum.forum.priority}"></td>
						<td><a th:href="@{/forum/} + ${forum.forum.id}" th:text = "${forum.forum.name}"></a></td>
						<td th:text = "${forum.shortDescription}"></td>
						<td th:text = "${forum.numOfTopics}"></td>
						<td>
							<a th:href="@{/a/forum/delete/} + ${forum.forum.id}">מחק</a>
							&nbsp;&nbsp;
							<a th:href="@{/a/forum/edit/} + ${forum.forum.id}">ערוך</a>
						</td>
						<td>
							<a th:href="@{/a/downPriority/} + ${forum.forum.id}">למטה</a>
							&nbsp;&nbsp;
							<a th:href="@{/a/addPriority/} + ${forum.forum.id}">למעלה</a>
						</td>
					</tr>
				</tbody>
			</table>
			
			<!-- Users section  -->
			<hr>
			
			<h1>ערוך ונהל משתמשים</h1>
			
			<form th:action="@{/a/editUser}" >
				<label>חפש משתמש:</label>
				<input name="username" type="text" th:value="*{username}" required>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input class="button" type="submit" value="חפש" />
			</form>

			<a th:href="@{/a/list_users}">רשימת כל המשתמשים</a>
					
		</div>
	</body>
</html>