<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Declaring  XML using-->

	<head th:replace="fragments.html :: headerfiles('Edit forum')"></head>
	
	<body>
	
		<div th:replace="fragments.html :: topnav"></div>

		<h1>עדכון פורום</h1>
			
		<form th:action = "@{/a/editForum}" method = "post"
		style ="max-width:800px; margin: 0 auto;"
		th:object = "${editForum}">
		
			<table>
				<tr>
					<td>
						<label>שם הפורום</label>
					</td>
					<td>
						<input type="text" th:field="*{name}" class="validate"/>
						<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">שם פורום לא תקין!</p>
					</td>
				</tr>
				<tr>
					<td>
						<label>תיאור</label>
					</td>
					<td>
						<textarea name='description' th:field="*{description}" ></textarea>
						<p th:if="${#fields.hasErrors('description')}" th:errors="description">תיאור פורום לא תקין!</p>
					</td>
				</tr>
			</table>
			
			<!-- Submit button -->
			<div>
				<input type="hidden" name = "forumId" th:value="${editForum.forumId}"/>
				<input class="button" type="submit" value="עדכן" />
			</div>
			
		</form>
	</body>
</html>