<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="he"> <!-- Declaring  XML using-->
<head>
    <meta charset="UTF-8">
    <title>Edit topic</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    
    
    
    <style type="text/css">
    label {
        display: inline-block;
        width: 100px;
        margin: 5px;
        text-align: right;
    }
    input[type=text], input[type=password], select {
        display: inline-block;
        width: 200px;
    }
    input[type=radio] {
        margin-left: 45px;
    }
    input[type=checkbox] {
        margin-right: 190px;
    }  
    button {
        padding: 5px;
        margin: 10px;
    }
</style>


</head>



<body dir="rtl">
	<div align="center">
		<div>
			<h1>עדכון משתמש</h1>
		</div>
	</div>	
	<div align="center">
		<div>
			<form action ="#" th:action = "@{/a/searchUser}" method = "post" th:object="${searchUserForm}">
			
			<h3>פרטי משתמש</h3>
			<label>כינוי:</label>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<label th:text = "${searchUserForm.user.username}">כינוי:</label><br>

			<label>אימייל:</label>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<label th:text = "${searchUserForm.user.email}">כינוי:</label><br>
			
			<label>תאריך הרשמה:</label>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<label th:text = "${searchUserForm.user.joiningDate}">כינוי:</label><br>
			
			<label>דירוג:</label> 
			&nbsp;&nbsp;&nbsp;&nbsp;
			<label th:text = "${searchUserForm.user.getRole().name}">כינוי:</label><br>
			
			
			</form>
			<!-- 
			<form th:action = "@{/a/searchUser}" method = "post"
			style ="max-width:600px; margin: 0 auto;"
			th:object = "${editUser}">
			
			 	<div class="input-field col s12">
					<select class="browser-default" name="role" th:field="${searchUserForm}">
					<option value="0" disabled="disabled" selected="selected">Choose section</option>
					<option th:each="role : ${roles}" th:text="${role.name}" th:value="${role}"></option>
					</select>
				</div>
				<p th:text = "${searchUserForm.user.username}"></p>
				<p th:text = "${searchUserForm.user.firstName}"></p>
				<p th:text = "${searchUserForm.user.LastName}"></p>
				<p th:text = "${searchUserForm.user.email}"></p>
				<p th:text = "${searchUserForm.user.getRole().name}"></p>
				<p th:text = "${searchUserForm.username}"></p> 
				-->
			
			<!-- Sumbit button -->
			<!--  
			<div class="from-row py-1">
				<input class="btn btn-primary" type="submit" value="Submit" />
			</div>
			</form> -->
		</div>
		
	</div>
</body>
</html>