<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		lang="he"> <!-- Declaring  XML using-->
    
   	<head th:replace="fragments.html :: headerfiles('ערוך משתמש')"></head>
	
	<body>
	
		<div th:replace="fragments.html :: topnav"></div>
    
		<div align="center">
	        <h1>ערוך משתמש</h1>
	        <br />
	        <form action="#" th:action="@{/a/updateUser}" th:object="${editUser}"
	            method="post">
	 
	            <table style ="max-width:600px;">
	
	                <tr>
	                    <td>מזהה:</td>
	                    <td><input type="text" th:field="*{id}" readonly="readonly" /></td>
	                </tr>
	                <tr>
	                    <td>שם משתמש:</td>
	                    <td><input type="text" th:field="*{username}" readonly="readonly" /></td>
	                </tr>
					<tr>
	                    <td>אימייל:</td>
	                    <td><input type="text" th:field="*{email}" readonly="readonly"/></td>
	                </tr>
	                <tr>
	                    <td>תאריך הצטרפות:</td>
	                    <td><input type="text" th:field="*{joiningDate}" readonly="readonly" /></td>
	                </tr>
	                <tr>
	                	<td>דרגה:</td>
	                	<td>
							<select th:field="*{role}">
								<option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}" />
							</select>
						</td>
	                </tr>
					<tr>
	                    <td>מחק משתמש:</td>
	                    <td><input type="checkbox" th:field="*{delete}"/></td>
	                </tr>
	                <tr>
	                    <td>שמור פעילות משתמש לאחר מחיקה:</td>
	                    <td><input type="checkbox" th:field="*{keepActivity}" /></td>
	                </tr>
	                <tr>
	                    <td><button class="button" type="submit">שמור</button> </td>
	                </tr>
	            </table>
	        </form>
	    </div>
	</body>
</html>