<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> <!-- Declaring  XML using-->
 
	<head th:replace="fragments.html :: headerfiles(title=${forum.name})"></head>
	
	<body>
	
		<div th:replace="fragments.html :: topnav"></div>
		 
		<h1 th:text="${forum.name}"></h1>
		<h2 th:text="${forum.description}"></h2>
		<hr>
		<!-- multi checkbocx form -->
		<table class="table-striped stretch" border="1" style="text-align:right">
			<thead>
					<tr>
						<th colspan="8">
							<h2>רשימת כל השרשורים</h2>
							<a sec:authorize="isAuthenticated()" th:href="@{/topic/newTopic/} + ${forum.id}">צור שרשור חדש</a>
							<br>
							<label>סך כל השרשורים:</label>
							<label th:text="${topics.size()}"></label>
						</th>	
					</tr>
					<tr>
						<th>שם השרשור</th>
						<th>תקציר</th>
						<th>נוצר על ידי</th>
						<th>מספר צפיות</th>
						<th>מספר תגובות</th>
						<th>הודעה אחרונה על ידי</th>
						<th>פעילות אחרונה</th>
						<th sec:authorize="hasAuthority('ADMIN')">מחק</th>
					</tr>
			</thead>
			<tbody>
				<tr th:each="topic : ${topics}">
					<td><p class="title overflow"><a th:href="@{/topic/} + ${topic.topic.id}" th:text="${topic.topic.title}"></a></p></td>
					<td><p class="summary overflow" th:text = "${topic.summary}"></p></td>
					<td><a th:href="@{/user/} + ${topic.topic.user.username}" th:text = "${topic.topic.user.username}"></a></td>
					<td th:text = "${topic.topic.views}"></td>
					<td th:text = "${topic.numberOfPosts}"></td>
					  <td>
					  	<span th:if ="${topic.lastPost == null}">
					  		<a 	th:href="@{/user/} + ${topic.topic.user.username}"
					  			th:text = "${topic.topic.user.username}"></a>
					  	</span>
					  	<span th:unless ="${topic.lastPost == null}">
					  		<a th:href="@{/user/} + ${topic.lastPost.user.username}"
					  			th:text = "${topic.lastPost.user.username}"></a>
					  	</span>
					  </td> 
					  <td>
					  	<span  th:text = "${topic.getFormattedLastActivity}"></span>
					  </td>
					  <td style="text-align: center"
					  sec:authorize="hasAuthority('ADMIN')">
						<a th:href="@{/topic/delete/} + ${topic.topic.getId()}" class = "button" >מחק</a>
					  </td>
				</tr>
			</tbody>
		</table>
		<hr>
	
        <a sec:authorize="isAuthenticated()" th:href="@{/topic/newTopic/} + ${forum.id}">צור שרשור חדש</a>

		<div th:replace="fragments.html :: botnav"></div>
	</body>
</html>