<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> <!-- Declaring  XML using-->
 
	<head th:replace="fragments.html :: headerfiles(title=${forum.name})"></head>
	
	<body>
	
		<div th:replace="fragments.html :: topnav"></div>
		 
		<h1 th:text="${forum.name}"></h1>
		<p th:text="${forum.description}"></p>
		<hr>
		 
		<table class="table-striped" border="1" cellpadding="10" style="text-align:right">
			<thead>
					<tr>
						<th colspan="6">
							<h2>רשימת כל השרשורים</h2>
						</th>	
					</tr>
					<tr>
						<th>שם השרשור</th>
						<th>תקציר</th>
						<th>נוצר על ידי</th>
						<th>מספר צפיות</th>
					</tr>
			</thead>
			<tbody>
				<tr th:each="topic : ${topics}">
					<td><a th:href="@{/topic/} + ${topic.id}" th:text="${topic.title}"></a></td>
					<td th:text = "${topic.content}"></td>
					<td><a th:href="@{/user/} + ${topic.user.username}" th:text = "${topic.user.username}"></a></td>
					<td th:text = "${topic.views}"></td>
				</tr>
			</tbody>
		</table>
		
		<hr>
	
        <a sec:authorize="isAuthenticated()" th:href="@{/topic/newTopic/} + ${forum.id}">צור שרשור חדש</a>

	</body>
</html>