<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> <!-- Declaring  XML using-->

	<head th:replace="fragments.html :: headerfiles('רשימת כל הפורומים')"></head>
	
	<body>
	
		<div th:replace="fragments.html :: topnav"></div>
		
		<h1>ברוכים הבאים לפורום הכי טוב בתבל</h1>
		<h3 style="text-align: center">אל תמליצו לחברים שלכם לבוא לפה בבקשה</h3>
		
		<hr><br>
		
		<table class="table-striped" border="1" cellpadding="10" style="text-align:right">
			<thead>
					<tr>
						<th colspan="6">
							<h2>רשימת כל הפורומים</h2>
						</th>	
					</tr>
					<tr>
						<th>שם הפורום</th>
						<th>תקציר</th>
					</tr>
			</thead>
			<tbody>
				<tr th:each = "forum : ${forums}">
					<td><a th:href="@{/forum/} + ${forum.id}" th:text="${forum.name}"></a></td>
					<td th:text = "${forum.description}"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>