<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> <!-- Declaring  XML using-->

	<head th:replace="fragments.html :: headerfiles('רשימת כל הפורומים')"></head>
	
	<body>
	
		<div th:replace="fragments.html :: topnav"></div>
		
		 <div class="container text-right">
	        <div class="row">
	            <div class="col s12">
	                <div class="row">
	                    <div class="col s12">
						    <h1>ברוכים הבאים לפורום הכי טוב בתבל</h1>
							<h3 style="text-align: center">אל תמליצו לחברים שלכם לבוא לפה בבקשה</h3>
							<hr><br>
							<p>רשימת כל הפורומים</p>
                  		</div>
             	 	</div>
	                <div class="divider"></div>
	                <div class="row" th:each="forum : ${forums}">
	                    <div class="col s12">	
	                        <div class="forum">
	                            <a th:href="@{/forum/} + ${forum.id}" th:text="${forum.name} + '  :' + ${forum.description}"></a>
	                            <!-- 
	                             <span class="right"></span> <span class="truncate"
	                                th:text="${topic.content}"></span>
	                             -->
	                            <hr>
	                           
	                        </div>
	                        <div class="divider"></div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>
</html>