<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Declaring  XML using-->

	<head th:replace="fragments.html :: headerfiles('שרשור חדש')"></head>
	
	<body>
	
		<div th:replace="fragments.html :: topnav"></div>
		
		<h1>צור שרשור חדש</h1>
			
		<form th:action = "@{/topic/newTopic}" method = "post"
		style ="max-width:600px; margin: 0 auto;"
		th:object = "${newTopic}">
		
			<table>
				<tr>
					<td>
						<label>כותרת</label>
					</td>
					<td>
						<input type="text" th:field="*{title}" class="validate" length="50" required/>
						<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">כותרת לא תקינה!</p>
					</td>
				</tr>
				<tr>
					<td>
						<label>תוכן</label>
					</td>
					<td>
						<textarea name='content' th:field="*{content}" required></textarea>
						<p th:if="${#fields.hasErrors('content')}" th:errors="content">תוכן לא תקין!</p>
					</td>
				</tr>
			</table>
		
			<!-- Submit button -->
			<input type="hidden" name = "forumId" th:value="${newTopic.forumId}"/>
			<input class="button" type="submit" value="שרשור חדש" />
			
		</form>
	</body>
</html>