<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Declaring  XML using-->
<head>
    <meta charset="UTF-8">
    <title>New topic</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>



<body>
	<div class="container text-center">
		<div>
			<h1>צור שרשור חדש</h1>
		</div>
	</div>
		
	<div class="container text-center">
		<div>

			<form th:action = "@{/topic/newTopic}" method = "post"
			style ="max-width:600px; margin: 0 auto;"
			th:object = "${topic}">
			
			<!--  
			<div class="row">
				<div class="input-field col s12">
					<select class="browser-default" id="forum" th:field="${newTopic.forumId}">
					<option value="0" disabled="disabled" selected="selected">Choose section</option>
					<option th:each="forum : ${forums}" th:text="${forum.name}" th:value="${forum.id}"></option>
				</select>
				</div>
			</div> 
			-->
					
		<div class="col s12">
			<blockquote class="flow-text right" th:text="|פורום: | + ${newTopic.forumId}">מספר תגובות</blockquote>
		</div>
			<!-- Title -->
				<div class ="row">
					<div class="input-field col s12">
						<input type="text" th:field="*{title}" class="validate" length="50" required/>
						<label>כותרת</label>
						<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="red-text">Incorrect title!</p>
					</div>
				</div>
				
			<!-- content -->
			<!-- This one need a big texting area -->
			<div class ="row">
					<div class="input-field col s12">
					<textarea name='content' th:field="*{content}" required></textarea>
					<label>תוכן</label>
					<p th:if="${#fields.hasErrors('content')}" th:errors="content" class="red-text">Incorrect content!</p>
				</div>
			</div>

			<!-- Sumbit button -->
			<div class="from-row py-1">
				<input type="hidden" name = "forumId" th:value="${newTopic.forumId}"/>
				<input class="btn btn-primary" type="submit" value="Submit" />
			</div>
				
			</form>
		</div>
		
	</div>
</body>
</html>