<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> <!-- Declaring  XML using-->
 
	<head th:replace="fragments.html :: headerfiles(title=${userProfile.getUser().getUsername()})"></head>
	
	<body>
	
		<div th:replace="fragments.html :: topnav"></div>
		 
		<!-- User name as the title -->
		<h1 th:text="${userProfile.getUser().getUsername()}"></h1>
		<hr>
		

		<table>
			<col style="width: 20%;" />
			<col style="width: 10%;" />
			<col style="width: 70%;" />
		
			<tr style="vertical-align: top;">		
				<td>
					<!-- Information about the user -->
					<table class="table-striped">
						<tbody>
							<tr>
								<td>שם פרטי</td>
								<td th:text="${userProfile.getUser().getFirstName()}"></td>
							</tr>
							<tr>
								<td>שם משפחה</td>
								<td th:text="${userProfile.getUser().getLastName()}"></td>
							</tr>
							<tr>
								<td>אימייל</td>
								<td th:text="${userProfile.getUser().getEmail()}"></td>
							</tr>
							<tr>
								<td>כרגע באתר</td>
								<td th:text="${userProfile.getUser().isActive()}"></td>
							</tr>
							<tr>
								<td>סוג משתמש</td>
								<td th:text="${userProfile.getUser().getRole().getName()}"></td>
							</tr>
							<tr>
								<td>נרשם בתאריך</td>
								<td th:text="${userProfile.getUser().getJoiningDate().toLocalDate()}"></td>
							</tr>
							<tr>
								<td>נכנס פעם אחרונה</td>
								<td th:text="${userProfile.getUser().getLastLogin().toLocalTime()} 
									+ ', ' + ${userProfile.getUser().getLastLogin().toLocalDate()}"></td>
							</tr>
						</tbody>
					</table>
					
					<!-- Update user or send them a message (unless not signed in and then neither) -->
					
					<div sec:authorize="isAuthenticated()">
					
						<button class="button" th:if="${#authentication.name} eq ${userProfile.getUser().getUsername()}">עדכן את המשתמש</button>
						
						<form th:unless="${#authentication.name} eq ${userProfile.getUser().getUsername()}"
							th:action="@{/messages/} + ${userProfile.getUser().getUsername()}">
							<input class="button" type="submit" value="שלח הודעה" />
						</form>
						
					</div>
				</td>
				
				<td></td>
				
				<td>
					<!-- List of links to topics by this user (and a message if none were made) ordered by number of posts -->
					<h2>שרשורים שנוצרו על ידי משתמש זה:</h2>
					<div class="indented" th:each = "topic: ${userProfile.getTopics()}">
						<h3 th:text="'בפורום ' + ${topic.getForum().getName()} + ' כתב:'"></h3>
						<a class="indented" th:href="@{/topic/} + ${topic.getId()}" th:text="${topic.getTitle()}"></a>
					</div>
					
					<hr>
					
					<!-- List of posts by this user (with links to them) (message if none were made) ordered by number of views -->
					<h2>הודעות שנוצרו על ידי משתמש זה:</h2>
					<div class="indented" th:each = "post: ${userProfile.getPosts()}">
						<h3 th:text="'בשרשור ' + ${post.getTopic().getTitle()} + ' כתב:'"></h3>
						<a class="indented" th:href="@{/topic/} + ${post.getTopic().getId()} + '#' + ${post.getId()}" th:text="${post.getContent()}"></a>
					</div>
				</td>
		
			</tr>
		</table>
		
	</body>
</html>