<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> <!-- Declaring  XML using-->

	<head th:replace="fragments.html :: headerfiles('שרשור')"></head>
	
	<body>
	
		<div th:replace="fragments.html :: topnav"></div>
		
		<br>
		
		<a th:href="@{/forum/} + ${topic.getForum().getId()}">חזרה לפורום</a>

		<!-- TOPIC -->
		<h1 th:text = "${topic.getTitle()}"> Title:>Topic name</h1>
		<hr>
		
		<section>
			<p style="text-align: justify; display:block; white-space:pre-wrap"
				th:text = "${topic.getUser().getUsername()} + ': ' + ${topic.getContent()}">Content</p>
			
			<div th:if="${#authentication.name} eq ${topic.user.username}">
				 <a class="button" th:href="@{/topic/edit/} + ${topic.id}">
                       <i class="material-icons white black-text">ערוך שרשור</i>
                       </a>
			</div>
			<hr>
		</section>
		
		<!-- Number of posts -->
		<header>
			<blockquote th:text="|תגובות: | + ${posts.size()}">מספר תגובות</blockquote>
		</header>
		<hr>
		
		<!-- displaying all posts -->
		
		<div th:each = "post: ${posts}">
			<div th:id="${post.getId()}">
				<!-- username -->
				<section>
					<p th:text = "${post.getUser().getUsername()} + ':'">Post author</p>
				</section>
				
				<!-- post -->
				<section>
					<p style="text-align: justify; display:block; white-space:pre-wrap"
					th:text = "${post.getContent()}"> Content</p>
				</section>
				<hr>
			</div>
		</div>
	
		<!-- New Reply -->
		<header>
			<blockquote>הוסף תגובה:</blockquote>
		</header>
			
		<div sec:authorize="isAuthenticated()">
			<form th:action="@{/topic/} + ${topic.getId()}" method="POST" th:object="${post}">
				<textarea name="content" required></textarea>
				<input type="hidden" name="id_topic" th:value="${topic.getId()}"/>
				<input class="button" type="submit" value="שלח" />
			</form>
		</div>
		
		<div sec:authorize="!isAuthenticated()">
			<h3 style="color:blue"><a th:href="@{/register}">הירשם כדי להגיב</a></h3>
        </div>
	</body>
</html>