<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> <!-- Declaring  XML using-->

	<head th:replace="fragments.html :: headerfiles('שרשור')"></head>
	
	<body>
	
		<div th:replace="fragments.html :: topnav"></div>
		
		<br>
		
		<a th:href="@{/forum/} + ${topic.getForum().getId()}">חזרה לפורום</a>

		<!-- TOPIC -->
		<table class="stretch" border="3" style="text-align:right; border-color: red">
			<colgroup>
		        <col width="20%">
		        <col width="20%">
		        <col width="20%">
		        <col width="20%">
		        <col width="20%">
	        </colgroup>
	        <tr>
	        	<td colspan="5">
					<h1 th:text = "${topic.getTitle()}"> Title:>Topic name</h1>
	        	</td>
	        </tr>
	        <tr>
				<td colspan="1">
					<h2><a th:href="@{/user/} + ${topic.getUser().getUsername()}" th:text = "${topic.getUser().getUsername()} + ':'">Topic author</a></h2>
				</td>
				<td colspan="4">
					<p style="text-align: center" th:text = "'נוצר ב-:' + ${topic.getFormattedCreatedDate()}">Date</p>
					<pre class="indented postContent" th:text = "${topic.getContent()}">Content</pre>
				</td>
			</tr>
	        <tr th:if="${#authentication.name} eq ${topic.user.username} or ${isAdmin}">
				<td colspan="5" style="text-align: left;">
					<a th:if="${#authentication.name} eq ${topic.user.username}" 
						th:href="@{/topic/edit/} + ${topic.getId()}" class = "button" >ערוך</a>
					<a th:href="@{/topic/delete/} + ${topic.getId()}" class = "button" >מחק</a>
				</td>
			</tr>
		</table>
			
		<hr>
		
		<!-- Number of posts -->
		<header>
			<blockquote th:text="|תגובות: | + ${posts.size()}">מספר תגובות</blockquote>
		</header>
		<hr>

		<!-- displaying all posts -->
		<div th:each = "post: ${posts}">
			<table class="stretch" border="1" style="text-align:right" th:id="${post.getId()}">
				<colgroup>
			        <col width="20%">
			        <col width="20%">
			        <col width="20%">
			        <col width="20%">
			        <col width="20%">
		        </colgroup>
				<tr>
					<td colspan="1">
						<h3><a th:href="@{/user/} + ${post.getUser().getUsername()}" th:text = "${post.getUser().getUsername()} + ':'">Post author</a></h3>
					</td>
					<td colspan="4">
						<p style="text-align: center" th:text = "'נכתב ב-:' + ${post.getFormattedLastActivity()}">Date</p>
						<pre class="indented postContent" th:text = "${post.getContent()}">Content</pre>
					</td>
				</tr>
				<tr th:if="${#authentication.name} eq ${post.getUser().getUsername()} or ${isAdmin}">
					<td colspan="5" style="text-align: left;">
						<a th:if="${#authentication.name} eq ${post.getUser().getUsername()}" 
							th:href="@{/post/edit/} + ${post.getId()}" class = "button" >ערוך</a>
						<a th:href="@{/post/delete/} + ${post.getId()}" class = "button" >מחק</a>
					</td>
				</tr>
			</table>
			
			<br><br>
			
		</div>
	
		<!-- New Reply -->
		<section>
			<div sec:authorize="isAuthenticated()">
				<h3>הוסף תגובה:</h3>
				<form th:action="@{/topic/} + ${topic.getId()}" method="POST" th:object="${post}">
					<textarea name="content" required></textarea>
					<input type="hidden" name="id_topic" th:value="${topic.getId()}"/>
					<input class="button" type="submit" value="שלח" />
				</form>
			</div>
			<div sec:authorize="!isAuthenticated()">
				<h3><a th:href="@{/register}">הירשם</a> או <a th:href="@{/login}">התחבר</a> כדי להגיב</h3>
	        </div>
		</section>
	</body>
</html>