<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Declaring  XML using-->
<head>
    <meta charset="UTF-8">
    <title>A Topic</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

<!-- Each page should have Top section, Mid Section and Footer
	The topic should be in the top of mid sections, then posts and then add new post. -->
	<div class="container">
		<div>
		<!-- This should be the top section -->
			<h1>This is a topic</h1>
		</div>
	</div>
		
	<div class="container text-right">
	<!-- this should be the Mid section -->
	
	<!-- Topic: Title + Contect -->
	<!-- add user information display -->
	<!-- add dates -->
	
		
		
	</div>
</body>
</html>