<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> <!-- Declaring  XML using-->
	
	<head th:replace="fragments.html :: headerfiles('שרשור')"></head>
	
	<body>
	
		<div th:replace="fragments.html :: topnav"></div>

		<div class="container my-3 text-right">
		<!-- Topic contect & title -->
		<table class="table table-striped table-bordered fixed text-right">
			<thead class="thead-dark">
				<tr>
					<th style ="width:80%" class="text-right">
					<p class = "col s12" style="text-align: justify; display:block; white-space:pre-wrap"
				th:text = "${topic.getTitle()}">
					כותרת</th>
					<th style="overflow: hidden">משתמש&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td	class = "col s12" style="text-align: justify; display:block; white-space:pre-wrap"
					th:text = "${topic.getContent()}">content</td>
					
					<td class = "col s12" style="text-align: justify; white-space:pre-wrap"
					th:text = "${topic.user.getUsername()}"></td>
	
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<div th:if="${#authentication.name} eq ${topic.user.username}">
						<a class="btn btn-primary" th:href="@{/topic/edit/} + ${topic.id}">
						<i class="material-icons white black-text">edit</i>
	                	</a>
					</div>
				</tr>
			</tfoot>
		</table>
	
		</div>
	</body>
</html>