<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Declaring  XML using-->
	
	<head th:replace="fragments.html :: headerfiles('רשימת כל המשתמשים')"></head>
	
	<body>
	
		<div th:replace="fragments.html :: topnav"></div>
		
		<div>
		
			<h1>רשימת כל המשתמשים:</h1>
    		
			<div>
				<table>
					<thead>
							<tr>
								<th>מזהה משתמש</th>
								<th>דרגה</th>
								<th>שם משתמש</th>
								<th>Email</th>
								<th>שם פרטי</th>
								<th>שם משפחה</th>
								<th>תאריך הצטרפות</th>
								<th>ערוך משתמש</th>
							</tr>
					</thead>
					<tbody>
						<tr th:each = "user: ${listofUsers}">
							<td th:text = "${user.id}">מזהה משתמש</td>
							<td th:text = "${user.getRole().name}">דרגה</td>
							<td><a th:href="@{/user/} + ${user.username}" th:text = "${user.username}">מזהה משתמש</a></td>
							<td><a th:href="'mailto: '+ ${user.email}"  th:text = "${user.email}">כתובת אימייל</a></td>
							<td th:text = "${user.firstName}">שם פרטי</td>
							<td th:text = "${user.lastName}">שם משפחה</td>
							<td th:text = "${user.joiningDate}">joining date</td>
							<td>
								<a th:href="@{/a/editUser(username = ${user.username})}" class = "button button5" >עריכה</a>
							</td>		
						</tr>
						
					</tbody>
				</table>
				
			</div>
		</div>
	</body>
</html>